{% extends "base.html" %}
{% block title %}johndo3{% endblock %}
{% block content %} 
    <!--──────────────Contact────────────────-->
    <div id="contact">
        <div class="filter"></div>
        <section class="intro">    
            <!--────social media links─────-->
            <h3>Contact.<hr></h3>
            <p>Feel free to contact me on my social media, or at johndo3@repl.email</p>
        <div class="social-media">
            <a href="/github" target="_blank"><i class='fab fa-github'></i></a>
            <a href="/youtube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="/discord" target="_blank"><i class="fab fa-discord"></i></a>
        </section>
        </div>
        </div>
{% endblock %}