{% extends "base.html" %}
{% block title %}johndo3{% endblock %}
{% block content %}
    <!--─────────────────Home────────────────-->
    <div id="home">
        <div class="filter"></div>
        <section class="intro">
        <h3>johndo3<hr></h3>
        <p>I code in 4 languages,</p>
        <p>HTML, CSS, JavaScript, and Python.</p>
    <p>I am the owner of team syntaxcorp. Comment if you'd like to join</p>
            
        <!--────social media links─────-->
            
        <div class="social-media">
            <a href="/github" target="_blank"><i class='fab fa-github'></i></a>
            <a href="/youtube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="/discord" target="_blank"><i class="fab fa-discord"></i></a>        
        </div>           
        </section> 
    </div>  
{% endblock %}