{% extends "base.html" %}
{% block title %}johndo3{% endblock %}
{% block content %}
    <!--───────────────Projects───────────────-->
        <section class="intro">    
        <div id="projects">
            <div class="filter"></div>        
            
            <h3>My Projects.<hr></h3>
            <p>Here are some of my projects, you may like. Search it up*</p>
        <p><a href="https://repl.it/@johndo3" class="link">*The search doesnt work for some reason, so click me for my projects.</a></p>
        </div>
    <div id="container" align="center">
        <script async src="https://cse.google.com/cse.js?cx=003669978326556586863:mayosqylmo4"></script>
        <div class="gcse-search"></div>
    </div>
    </section> 
{% endblock %}